@using Farm.Models.Models
@model List<ApplicationUser>

<link rel="stylesheet" href="~/css/Tabels.css">
<div class="request-container">
   
    <div class="request-header">
        <h1 class="request-title">Users List (@Model.Count)</h1>
        <div class="header-buttons">
            <a asp-area="Admin" asp-action="Index" asp-route-role="Custmor" class="header-btn add-btn">Customers</a>
            <a asp-area="Admin" asp-action="Index" asp-route-role="FarmOwner" class="header-btn export-btn">Farm Owners</a>
            <a asp-area="Admin" asp-action="Index" asp-route-role="Admin" class="header-btn deleted-btn">Admins</a>
        </div>
    </div>
    <table class="request-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th> 
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.OrderBy(u=>u.Role))
            {
                <tr>
                    <td>@(user.FirstName +" "+user.LastName)</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Role</td>
                    <td>
                        <div class="action-buttons">
                            <a class="view-button" asp-area="Admin" asp-action="ViewUserDetales" asp-route-userId="@user.Id">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            
                            <a href="javascript:void(0)" class="delete-button"
                               onclick="confirmDelete('@Url.Action("DeleteUser", "Users", new { userId=@user.Id})')">
                               <i class="bi bi-trash3"></i>
                           </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmDelete(url) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Exit'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>